# Dependências
node_modules/
package-lock.json

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/

# Logs
*.log
npm-debug.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Arquivos de ambiente
.env
.env.local
